.Profile {
    background-color: #282C31;
    min-height: 100vh;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
}

.Profile_Hr {
    border: 1px solid #999999;
    width: 250px;
}

.Avatar {
    margin-top: 30px;
}

.Avatar_Img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.Profile_Today {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 6px;
        /*color: #7276E7;*/
}

.Profile_User_Name {
    margin-top: 21px;
    font-size: 36px;
    font-weight: 100;
}

.Profile_Goals {
    margin-top: 27px;
    font-weight: 300;
}

.Profile_Input {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
}

.Goal_Description {
    color: #ffffff !important;
    margin-top: 20px !important;
    text-transform: uppercase !important;
    font-weight: 100 !important;
}

.Profile_Submit {
    margin-top: 27px !important;
}

.Goal_Input {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #999999 !important;
    margin-top: 3px !important;
}


@media(min-width: 1000px) {
    .Avatar_Img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 15px;
    }

    .Profile_User_Name {
        margin-top: 30px;
        font-size: 42px;
        font-weight: 100;
    }

    .Profile_Goals {
        margin: 60px 0 30px 0;
        font-weight: 300;
        font-size: 18px;
    }

    
    .Profile_Submit {
        margin-top: 60px !important;
    }

}