.Home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../../Assets/home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

a {
    text-decoration: none;
}

.Logo_Container {
    padding-top: 15px;
}

.Logo {
    color: #d8d8d8;
    font-size: 82px;
    font-weight: 300;
    letter-spacing: 2px;
}

.Logo_Bottom {
    color: #d8d8d8;
    font-size: 82px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 10px;
}

.Tagline {
    color: #d8d8d8;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
}

.Buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.Button_Login {
    border: 1px solid white;
    color: #d8d8d8;
    width: 120px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button_Login p {
    font-weight: 300;
}

.Button_Login:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  @media(min-width: 550px) {
      .Home {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url("../../Assets/home-desktop-thirds.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
      }

      .Logo {
          font-size: 150px;
      }

      .Logo_Bottom {
          font-size: 150px;
      }

      .Buttons {

      }

      .Button_Login {
        width: 200px;
        height: 75px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Button_Login p {
        font-size: 21px;
        font-weight: 500;
    }

  }