.ExerciseLog {
    background-color: #282c31;
    min-height: 100vh;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
}

.ExerciseLog_Inputs {
    display: flex;
    justify-content: center space-evenly;
    align-items: center;
    margin: 6px 0 6px 0;
}

.fa-book {
    margin-bottom: 6px;
    color: #0f8b8d;
}

input {
    text-align: center;
}

.ExerciseLog_HR {
    border: 1px solid #999999;
    width: 250px;
}